<!DOCTYPE html>
<html>
<head>
    <title>DETAIL</title>
    <%- include head %>
</head>
<body>
    <%- include('bar', {username: username}) %>
    <div class="detail">
        <div class="title"><%=item.title%></div>
        <div class="desc">
            <span>Author: <%=item.username%></span>
            <span>Date: <%=item.time%></span>
        </div>
        <div class="content"><%- item.content%></div>
    </div>

</body>
</html>